.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(234, 233, 233);
    height: 3rem;
    &--link {
        width: 11rem;
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-decoration: none;
        align-self: center;
        color: black;
        padding: 0.5rem;
        &__logo {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    &--navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 10rem;
        &__page {
            height: 2rem;
            margin: 0;
            padding: 0.5rem;
            text-decoration: none;
            color: black;
        }
        .selected {
            background-color: rgb(211, 208, 208);
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
        }
    }
    &--cart {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 1rem;
        align-self: center;
        &__icon {
            width: 1.5rem;
        }
    }
}

@media all and (min-width: 900px) {
    .header {
        height: 3.5rem;
        &--link {
            width: 16rem;
            height: 2.5rem;
            padding: 0.5rem 1.5rem;
            &__title {
                font-size: 1.5rem;
            }
        }
        &--navBar {
            &__page {
                height: 2.5rem;
                font-size: 1.25rem;
                padding: 0.5rem 1rem;
            }
        }
    }
}
