.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &--product {
        width: 18rem;
        margin: 1rem;
    }
}

@media all and (min-width: 1300px) {
    .list {
        max-width: 81rem;
    }
}