.productDetails {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: rgb(234, 233, 233);
    border-radius: 0.5rem;
    padding: 0.5rem;
    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__title {
            padding: 0.5rem;
        }
        &__link {
            text-decoration: none;
            color: black;
            width: 7rem;
            height: 2rem;
            background-color: rgb(211, 208, 208);
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.5rem;
        }
    }
    &--section {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
            height: 7rem;
        }
        &__details {
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            .secondary--title {
                width: 100%;
                text-align: center;
                padding: 0.5rem 0;
            }
            .details--list {
                list-style: none;
            }
            .personalization {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .personalization--items {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-bottom: 0.5rem;
            }
            .personalization--form {
                display: flex;
                flex-direction: column;
            }
            .personalization--form label{
                padding-bottom: 0.25rem;
            }
            .addButton {
                width: 4.5rem;
                height: 2rem;
                border: none;
                background-color: rgb(211, 208, 208);
                border-radius: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}

@media all and (min-width: 760px) {
    .productDetails {
        padding: 1rem;
        border-radius: 1rem;
        &--section {
            width: 34rem;
            flex-direction: row;
            justify-content: space-between;
            &__img {
                height: 11rem;
                padding-left: 0.5rem;
            }
            &__details {
                .personalization--items {
                    padding-bottom: 1rem;
                }
                .personalization--form label{
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}